.award1{
    color:red;
    font-family: 'Righteous', cursive;
}
.award2{
    color: #00F5FF;
   font-family: 'Merriweather', serif;
}
.award3{
    color:red;
   font-family: 'Unlock', cursive;
    }
.award4{
    color:red;
  font-family: 'Bungee', cursive;
    }
body{
    background: brown;
    text-align:center;
}
img {
    width: 200px;
    border:5px solid blue;
    padding:20px;
}
p{
    color:yellow;
    font-family: 'Handlee', cursive;
    font-size:20px;
    border: 5px solid yellow;
    }

    